<h1>ようこそ！サンプルホームページへ</h1>
<h2>最新の3投稿</h2>
<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>

<% @top_posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.body %></td>
  </tr>
<% end %>
</table>